<%-include ('../partials/header.ejs');%>
<%-include ('../partials/main_nav.ejs');%>

<!--content for the Add page-->

<div class = "container">
    <div class = "row">
    <div class="offset-md-3 col-md-6">
        <style>
            Body{
                background-image: url('./Assets/Images/BC.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed; 
            }
            </style>
        <h1>Contacts</h1>
        <form class = "form" method="POST">
                <div class ="form group">
                    <label for="NameTextField">Name</label>
                    <input type="text" class="form control"
                    id="NameTextField"
                    placeholder="Enter the Name"
                    name="Name" required>
                </div>

                <div class ="form group">
                    <label for="NumberTextField">Number</label>
                    <input type="text" class="form control"
                    id="NumberTextField"
                    placeholder="Enter the Number"
                    name="Number" required>
                </div>

                <div class ="form group">
                    <label for="EmailTextField">Email</label>
                    <input type="text" class="form control"
                    id="EmailTextField"
                    placeholder="Enter the Email"
                    name="Email" required>
                </div>

                
                <button class = "btn btn-primary" type="submit"><i class = "fas fa-edit"></i>submit</button>
                <a href="/bookList" class="btn btn-warning"><i class="fas fa-undo"></i>cancel</a> 
            
        </form>
        </div>
        </div>
    </div>

