<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>
  

<div class>
  <style>
      Body{
          background-image: url('./Assets/Images/BPabout.jpeg');
          background-repeat: no-repeat;
          background-size: cover;
          background-attachment: fixed; 
      }
  </style>  
      <h2>Zohratul Zannat </h2>
      <img id="mypic" src="./Assets/Images/mypic.jpg" alt="mypic">
  </div>
  <div class="">
      <div class="About">
          I'm a Software Developer, currently in my third semester of Software Engineering. 
          <br>I also work as a Game Tester for PlayTestCloud. 
        I love playing games and testing them.
          <h4>Resume</h4>
          <a href='./Assets/Images/Resume.pdf' target="_blank"> Click here</a> 
        </div>      
  </div>
