<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>
<div>
  <style>
      Body{
          background-image: url('./Assets/Images/BPabout.jpeg');
          background-repeat: no-repeat;
          background-size: cover;
          background-attachment: fixed; 
      }
  </style>  
          
          <div class>
              <h1>Zohratul Zannat</h1>
              <div class="p1">Software Engineer</div>
              <div class="p2">Technical Skills: Python, Javascript, MongoDB, SQLDB, C#, Linux</div>
              <div class="p2">Soft Skills: Excellent communicator, Strong interpersonal skills</div>
          </div>
  </div>


