<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>

<style>
    Body{
        background-image: url('./Assets/Images/BPproject.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed; 
    }
 </style>  
 <div class="projects">
    <div class="projects">
        <img src="./Assets/Images/project1.png" alt="Project 1" height="400px" width="500px">
        <p>photo gallary<br>
          <span>As a FullStackDev</span>
            <span class="skills">Programming languages used: HTML,Javascript,Css</span>
        </p>
    <div class="project">
        <img src="./Assets/Images/project2.png" alt="Project 2" height="350px" width="450px">
        <p>Bug Smasher<br>
            <span class="skills">Programming languages used: HTML,Javascript,Css</span>
        </p>
    <div class="project">
        <img src="./Assets/Images/project3.png" alt="Project 3" height="350px" width="450px">
        <p>TEST<br>
            <span class="skills">Programming languages used: java</span>
        </p>
    </div>
 </div>
 
 
 
 
 
 