<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>


<style>
   Body{
       background-image: url('./Assets/Images/BPservice.png');
       background-repeat: no-repeat;
       background-size: cover;
       background-attachment: fixed; 
   }
</style>  
<div>
   <div class="raw">
       <div class="column">
           <img src="./Assets/Images/serivce1.png" alt="HTML" height="200" width="200">
           <p>HTML</p>
       </div>

       <div class="column">
           <img src="./Assets/Images/service2.jpg" alt="Java" height="200" width="200">
           <p>Java</p>
       </div>

       <div class="column">
           <img src="./Assets/Images/service3.png" alt="Javascript" height="200" width="200">
           <p>Javascript</p>
       </div>
   </div>
   

  

